<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <style>
        pre{
        font-size:200%;
        font-weight:bold;
        color:white;
        }
        h1{
        color:white;
        }
    </style>
</head>
<body style="background-image:url(https://wallpaperaccess.com/full/1107554.jpg);background-repeat:no-repeat;background-size:cover;">
<h1>NIKE...</h1>
<pre>Nike is an American multinational corporation that is engaged in the design,
development, manufacturing, and worldwide marketing and sales of footwear,apparel,
equipment, accessories, and services.</pre>
</body>
</html>