<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <style>
        pre{
        font-size:650%
        font-weight:bold;
        color:white;
        }
        h1{
        color:white;
        }
    </style>

</head>
<body style="background-image:url(https://c4.wallpaperflare.com/wallpaper/68/719/604/logo-nike-famous-sports-brand-dark-background-silver-nike-logo-wallpaper-preview.jpg);background-repeat:no-repeat;background-size:cover;">
<h1>CONTACT US</h1>
<pre>
PRODUCTS & ORDERS. +44 (0) 2076604453. 8:00 - 20:00. Monday - Friday. 8:00 - 17:00. Saturday.
NRC & NTC. +44 (0) 2076604452. 8:00 - 17:00. Monday - Friday.
PRODUCTS & ORDERS. Chat with us. 8:00 - 20:00. Monday - Friday. 8:00 - 17:00. Saturday.

</pre>
</body>
</html>