{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <style>
        form{
        margin:auto;
        width:220px;
        }

    </style>
</head>
<body style="background-image:url(https://media-s3-us-east-1.ceros.com/hcl-software/images/2020/09/17/b0dd9638bfc2fd2be7bb1f13fe17d177/factory-tour-digital-week-singup.png?imageOpt=1&crop=498,310,x341,y0);background-repeat:no-repeat;background-size:cover;">

<h1 style="text-align:center;color:white;">Registration Form</h1>
<form action="" method="Post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your Username"><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    <input type="text" name="last_name" placeholder="Enter your last name"><br>
    <input type="email" name="email" placeholder="Enter your email address"><br>
    <input type="password" name="password" placeholder="Enter your Password"><br>
    <input type="password" name="password1" placeholder="Confirm your Password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>